<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/admin}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="content">
			<div class="container-fluid">
			
				<div class="row">
					<div class="col-md-12">
						<h1>Welcome to Our Site</h1>
						<p>Index cate</p>
					</div>
				</div>
				<div class= "row justify-content-end">
			        
			        <div class= "col-md-3 mb-md-2">
			            <a href="">
			                <span>
			                <a onclick="event.preventDefault();addCate();" href="#" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm danh mục </span></a>       
			                </span>
			            </a>
			        </div>		    
				</div>
				<div class="row">
					<div class="table-responsive">
						<!--HTML table-->
						<table class="table table-striped table-bordered table-hover"
							id="catetable">
							<thead>
								<tr>
									<th width="4%">STT</th>
									<th>Name</th>
									<th width="15%">Status</th>
									<th width="8%">ParentCate</th>
									<th width="8%">Action</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>

					</div>
				</div>
			</div>
		</section>
	<!-- Add Task Modal Form HTML -->
<form action="" method="" class="frmCate" id="frmCate">
<input type="hidden" name="_token" value="{{ csrf_token() }}">

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
           
                <div class="modal-header">    
                  
                    <h4 class="modal-title">
                        
                    </h4>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="editUnit-error-bag">
                        <ul id="editUnit-errors">
                        </ul>
                    </div>
                     <div class="alert alert-success" id="editUnit-success-bag">
                        <ul id="editUnit-success">
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>
                          Name
                        </label>
                        <input class="form-control"  name="name" required="" type="text">
                        </input>
                      
                    </div>
                    <div class="form-group">
                        <label class = "col-md-3">
                            Trạng thái
                        </label>
                      <select name="status" id="unit-edit-status">
                      <option value="1"name="status">Hiện</option>
                      <option value="0"name="status">Ẩn</option>
                      </select>
                      
                    </div>
                    <div class="form-group">
                        <label class = "col-md-3">
                            Danh mục cha
                        </label>
                      <select name="parent_id" id="cateParent">
                      <option value=""name="parent_id">----Chọn danh mục cha-----</option>
                   
                      </select>
                      
                    </div>
                   
                   
                </div>
                <div class="modal-footer">
                <input type="hidden" id="cateId" name="cateId">
                    <input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
                        <button class="btn btn-info ship-btn-save" id="unit-edit-save" type="submit" value="add">
                            Save Unit 
                        </button>
                    </input>
                </div>
          
        </div>
    </div>
</div>
</form>
	</div>
	<th:block layout:fragment="script">
		<script>
		$(document).ready(function() {
			
			// DAta table
			let urlcate = "/sample/admin/cate";
			$('#catetable').DataTable({
				"responsive": true,
				ajax: {
					"url": urlcate
						+ "/categories",
					"type": "GET",
					dataSrc: ""
				},

				"columns": [

					{
						"data": "id"
					},
					{
						"data": "name"
					},
					{
						"data": "status"
					},
					{
						"defaultContent": "",
						"data": "parent.name"
					},
					{
						"data": "id",
						render: function(
							data,
							type,
							full) {
							return '<a onclick="event.preventDefault();editCate('+data+');" class="btn btn-info btn-sm" href="#">'
								+ 'Edit'
								+ '</a>';
						}
					},

				]
			});
			
			//load parent in input select
			loadParent();
			// Ajax add cate
			var $form =  $('#frmCate');
			$form.on('submit',function(e){
				 var Name = $("#frmCate input[name=name]").val();
				 var Status = $("#frmCate select[name=status]").val();
				 var Parent_id = $("#frmCate select[name=parent_id]").val();
				 var Id = $("#cateId").val();
				 var data =  {name:Name,status:Status,parent_id:Parent_id,id:Id};
				 var type = $(this).attr('method');
				 var url = (type =="POST") ? '/sample/admin/cate': '/sample/admin/cate/'+Id;
				console.log(url)
				    e.preventDefault();  
				   
				      $.ajax({
				        type: type,
				        contentType : "application/json; charset=utf-8",
				        url: url,
				        data:JSON.stringify(data),          
				        success: function(data) {
				        	
				            $('#frmCate').trigger("reset");
				             $('#addUnit-success').html('');         
				            $('#addUnit-success').append('<li>Thêm mới  thành công !</li>');           
				            $("#addUnit-success-bag").show();
				            // Reload page sau 1s
				             // window.setTimeout(function(){window.location.reload()}, 1000);            
				           },
				        error: function(data) {
				          console.log(data)
				            var errors = $.parseJSON(data.responseText);
				           
				            $('#addUnit-errors').html('');
				            $.each(errors.errors.name, function(key, value) {
				              $('#addUnit-errors').append('<li>' + value + '</li>');
				            });
				            $("#addUnit-error-bag").show();
				        }
				     });
				  });
			
		});
		function addCate() {	 
			      $("#editUnit-error-bag").hide();
			      $("#editUnit-success-bag").hide();
			      $('#modal').modal('show');
			      $('.modal-title').text('Thêm đơn vị tính');
			      $('#frmCate').attr('method','POST');		   
			      $('#frmCate').trigger("reset");		 
			}
		function loadParent() {	 
			$.ajax({
		        type: 'GET',
		        url: '/sample/admin/cate/cateNoHaveChild',
		        success: function(data){
		            var slctSubcat=$('#cateParent'), option="";
		           

		            for(var i=0; i<data.length; i++){
		                option = option + "<option value='"+data[i].id + "'>"+data[i].name + "</option>";
		            }
		            slctSubcat.append(option);
		        },
		        error:function(){
		            alert("error");
		        }

		    });	 
		}
		function editCate(id) {
			 $.ajax({
		          type: 'GET',
		          url: '/sample/admin/cate/' + id,
		          success: function(data) { 
		        	 console.log(data)
		        	 $("#editUnit-error-bag").hide();
				      $("#editUnit-success-bag").hide();
				      $('#modal').modal('show');
				      $('.modal-title').text('Sửa đơn vị tính');
				      $('#frmCate').attr('method','PUT');
				      $("#frmCate input[name=name]").val(data.name);
				      $("#frmCate select[name=status]").val(data.status);
				      $("#frmCate input[name=cateId]").val(data.id);
				      $("#frmCate select[name=parent_id]").val(data.parent_id);
		          }
			  
			  });
			}
		</script>
	</th:block>
</body>

</html>
